:host {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #3f51b5;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 2147483647;
}

h1 {
  color: white;
}
